<%#= render 'partials/navbar_merchant' %><br>

<div class="row">
  <div class="column";>
    <h1><%= link_to "Admin Dashboard", admin_index_path %></h1>
  </div>

  <div class="column";>
    <h1><%= link_to "Merchant Dashboard", "/merchants/1/dashboard" %></h1>
  </div>
</div>
