<%= render 'partials/navbar_welcome' %><br>

<br><br><br><br><br>

<h1 class="display-4" align="center">Welcome!</h1><br>
<h1 align="center" class="lead">Explore the Admin or Merchant Dashboards above</h1>
