<%= render 'partials/navbar_merchant' %><br><br>

<div class="container">

  <% if params[:name]  %>
    <%= render partial: 'holiday_discount_form' %>
  <% else %>
    <%= render partial: 'discount_form' %>
  <% end %>

</div>
